body{
    padding: 0;
    width: 95%;
    margin: auto;
}

#navbar{
    display: block;
    background-color: grey;
    border: 2px solid pink;
    border-radius: 10px;
    width: 100%;
    height: 40px;
    margin: auto;
}

#navbar li {
    display: inline;
    margin-top: 10px;
    
}

#navbar li ul{
    display: inline;
    
}

#navbar li#right {
    float: right;
    text-align: center;
    color: blue;
    font-size: 15px;
    position: relative;
    
    background-color:aliceblue;
}

#navbar li#left {
    float: left;
    text-align: center;
    color: blue;
    font-size: 20px;
    position: relative;
}